.addpadding {
  padding: 1em;
}
.nopaddingL {
  padding-left: 0 !important;
}
.vueblue {
  color: salmon;
}
.leftpadding {
  padding-left: 1em;
}

.congrats {
  color: #41b883;
}

[class*="browser"] {
  cursor: pointer;
}

.subtitle {
  padding-bottom: 0;
  margin-bottom: 0;
}

.bold {
  font-weight: bolder;
}
